<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
<div class="center">
    <h2>Login</h2>

    <form method="POST" style="max-width:400px; margin:auto;">
        <input name="username" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        <button class="btn success">Register</button>
    </form>
</div>
</center>
</body>
</html>