{% extends "base.html" %}
{% block content %}

<h1>Your Cart</h1>

<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>₹ {{ item.price }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="2">Your cart is empty</td>
    </tr>
    {% endfor %}

    {% if items %}
    <tr>
        <th>Total</th>
        <th>₹ {{ total }}</th>
    </tr>
    {% endif %}
</table>

<br>

<a href="{{ url_for('clear_cart') }}" class="btn danger">Clear Cart</a>

{% endblock %}
